<IfModule mod_rewrite.c>
    RewriteEngine On

    # REGLA MAESTRA: Si no es archivo ni carpeta, manda a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
